body {
    background-color: whitesmoke;
}

.main {
    width: 63%;
    text-align: center;


}

.soc {
    width: 15rem;
    display: flex;
    /* justify-content: center; */
    margin: auto;
}

.dev {
    width: 50%;
    display: flex;
    margin: auto;


}

.but {
    display: flex;
    justify-content: right;
}

.buto {
    width: 60%;
    display: flex;


}

.container {
    max-width: 1800px;
    display: flex;
    margin-top: 2rem;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.main .container .card {
    width: 40px;
}

label {
    color: azure;
}

.navc {
    color: azure;
}

.tableheading {
    color: #006F71;
}