/* body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}
.device{  
    width: 362px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 500px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}
h2{  
    text-align: center;  
    color: #000b0d;  
    padding: 20px;  
} 
h3{  
    text-align: left;  
    color: #08ffd1;  
    font-size: 20px;  
}  
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
    background: #23463f;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.links li{
    list-style: none;
}
.links{
    color: #000000; 
    text-decoration: none;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}
.links li a{
    color: #08ffd1;
}
label{  
    color: #08ffd1;  
    font-size: 17px;  
} 
.msg{
    text-align: center;
    color: rgb(255, 0, 0);
}
#deviceid{  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} 
#deviceman{  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
#devicename{  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
#roomnumber{  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} */
/* .navbar {
    background-color: #83c5be;
} */
/* form {
    width: 500px;
    display: flex;
    justify-content: center;

} */
body {
    background-color: whitesmoke;
}

.main {
    width: 63%;
    text-align: center;


}

.soc {
    width: 15rem;
    display: flex;
    /* justify-content: center; */
    margin: auto;
}

.dev {
    width: 50%;
    display: flex;
    margin: auto;


}

.but {
    display: flex;
    justify-content: right;
}

.buto {
    width: 60%;
    display: flex;


}

.container {
    max-width: 1800px;
    display: flex;
    margin-top: 2rem;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.main .container .card {
    width: 40px;
}

label {
    color: azure;
}

.navc {
    color: azure;
}