<html>
    <head>
        resource manager
    </head>
    <body>
        <h1>resource manager by {{name}}</h1>
        <h2> IF ur seeing this , it means ASWIN didnt do his job</h2>
        <p> links </p>
        <p></p> 
        <div>
            <ul>
                <li> <a href = "" >index</a> </li>
                <li> <a href = "{% url 'studentregister' %}" >Signup</a> </li>
                <li> <a href = "{% url 'login' %}"> login </li>
                <li> <a href = "{% url 'logout' %}"> logout </li>
                <li> <a href = "{% url 'device_register' %}"> register a device </li>

            </ul>
        </div>
    </body>
</html>