<html>
    <head>
         User Login
    </head>
    <body>
        <div>
            <p> navbar goes here </p>
            <p>{{message}}</p>
            <form action="{% url 'login' %}" method="post">
                {%csrf_token%}
                <label for = "username"> Username : </label><br>
                <input type = "text" id = 'username' name = 'username'><br> 
                <label for = "psw"> Password : </label><br>
                <input type = "psw" id = 'psw' name = 'psw'><br>
                <button type = "submit">submit</button> 
            </form> 