<html>

<head>
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.statically.io/gh/SaiyanSai/REMAN/4df01e4bc3d692d5d7afc5653007eaf5f0e00cd9/resourcemanager/templates/deviceregister.css">
</head>

<body>
    <nav class="nv navbar navbar-expand-lg navbar-light" style="background-color: #006F71;">
        <div class="container-fluid">
            <a class="navc navbar-brand" href="{% url 'index' %}">FSC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="navc nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="navc nav-link" href="{% url 'staffregister' %}">Staff Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="navc nav-link" href="{% url 'studentregister'%}">Student Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="navc nav-link active" href="{% url 'device_register' %}">Device Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if user.is_authenticated %}
    <div class="display-2 text-center mt-4">
        <h1>Welcome {{user.first_name}}</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <!-- <i class="bi bi-person-plus"></i> -->
                <img src="D:\8th SEM\EET 452W\Reman\REMAN\resourcemanager\templates\folder.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Device Log</h5>
                    <p class="card-text">Click below to view the Logs of all the devices</p>
                    <a href="{% url 'devicelogs' %}" class="btn btn-primary">Click here</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="D:\8th SEM\EET 452W\Reman\REMAN\resourcemanager\templates\device.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Active devices</h5>
                    <p class="card-text">Click below to view the active devices</p>
                    <a href="{% url 'devicelogs' %}" class="btn btn-primary">Click here</a>
                </div>
            </div>
        </div>


    </div>


    {% else %}
    <P>ACCESS DENIED</p>
    <div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
</body>

</html>
